.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.item-icon > img {
  margin-right: 10px;
  margin-bottom: 5px;
}

.item-icon {
  list-style: none;
}

.item-icon > button {
  margin-left: 5px;
}

.item-trade-box {
  display: flex;
  justify-content: center;
}

#sell_img {
  border: 2px solid #38853e;
  margin: 2px;
  padding: 5px;
  border-radius: 3px;
}

#buy_img {
  border: 2px solid #3464cc;
  margin: 2px;
  padding: 5px;
  border-radius: 3px;
}

.item-trade-box + div > input {
  margin: 2px;
  width: 80px;
}

.placeholder {
  width: 80px;
  height: 80px;
  background-color: rgb(238, 238, 238);
  border: 2px solid rgb(199, 199, 199);
}
